<div class="row">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Geo Testing Tool</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#link">About   </a></li>
                </ul>
                <!-- form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form -->
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <h1 class="page-header">{{session.name}} - {{session.appName}}</h1>
                <h4 class="sub-header pull-right">{{session.createdAt}}</h4>
                <div class="row placeholders">
                    <h4 class="sub-header">Excluded hosts:</h4>
                    <ul>
                        {{#each excludes}}
                        <li>{{ this }}</li>
                        {{/each}}
                    </ul>
                </div>
                <a class="btn btn-large btn-info" href="/geo">Sessions</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Requested At</th>
                                <th>URL</th>
                                <th>Request time (ms)</th>
                                <th>Execution time (ms)</th>
                                <th>Response time (ms)</th>
                                <th>Total time (ms)</th>
                                <th>Response size</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#actions}}
                            <tr>
                                <td>{{formatTS request.timestamp_start}}</td>
                                <td><b>{{request.host}}</b>{{trimString request.path}}</td>
                                <td>{{timeDiff request.timestamp_end request.timestamp_start}}</td>
                                <td>{{timeDiff response.timestamp_start request.timestamp_end}}</td>
                                <td>{{timeDiff response.timestamp_end response.timestamp_start}}</td>
                                <td>{{timeDiff response.timestamp_end request.timestamp_start}}</td>
                                <td>{{formatBytes response.contentLength}}</td>
                            </tr>
                            {{/actions}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>