<script>
    function createApp() {
        var formData = new FormData();
        console.log($('#uploadFile')[0].files[0])
        formData.append('file', $('#uploadFile')[0].files[0]);

        $("#files").append(
            $('<div class="list-group-item">\
                    <div class="progress progress-striped active">\
                        <div class="progress-bar progress-bar-info" style="width: 0%;"></div>\
                    </div>\
                </div>'));
        $("#fileUploadError").addClass("hide");

        $.ajax({
            url: '/geo/app',
            type: 'POST',
            xhr: function () {
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (evt) {
                        var percent = (evt.loaded / evt.total) * 100;
                        $("#files").find(".progress-bar").width(percent + "%");
                    }, false);
                }
                return xhr;
            },
            success: function (data) {
                $("#files").children().last().remove();
                $("#uploadFile").closest("form").trigger("reset");
                location.reload()
            },
            error: function () {
                $("#fileUploadError").removeClass("hide").text("An error occured!");
                $("#files").children().last().remove();
                $("#uploadFile").closest("form").trigger("reset");
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }, 'json');
    }
</script>
<ul class="nav nav-tabs">
    <li class="active"><a href="/geo/app.html">Apps</a></li>
    <li><a href="/farms/index.html">Farms</a></li>
</ul>
<div class="container-fluid">
    <br/>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myApp">New App</button>
    <!-- Modal -->
    <div class="modal fade" id="myApp" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New App</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="uploadFile" class="control-label">Choose apk or ipa file:</label>
                            <input type="file" accept=".apk, .ipa" id="uploadFile" />
                        </div>
                    </form>
                    <p id="fileUploadError" class="text-danger hide"></p>
                    <div class="list-group" id="files"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="return createApp();">Start</button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Package</th>
                            <th>Platform</th>
                            <th>Status</th>
                            <th>Created At</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% apps.forEach(function(app) { %>
                            <tr>
                                <td><a href="#/geo/app/<%=app._id%>"><%=app.name%></a></td>
                                <td><%= app.package %></td>
                                <td><%= app.platform %></td>
                                <td><%= app.status %></td>
                                <td><%= app.createdAt %></td>
                                <td><a href="/geo/app/<%=app._id%>/script.html">Scripts</a></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>