<script>
    function activateSession(sid) {
        $.ajax({
            type: "POST",
            url: '/geo/session/activate',
            dateType: 'json',
            data: {
                sid: sid
            },
            success: function (data, textStatus, jqXHR) {
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },
            complete: function () {

            }
        });
        return false;
    }

    function deleteSession(sid) {
        $.ajax({
            type: "DELETE",
            url: '/geo/session',
            dateType: 'json',
            data: {
                sid: sid
            },
            success: function (data, textStatus, jqXHR) {
                location.reload();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },
            complete: function () {

            }
        });
        return false;
    }

    function createSession() {
        var txt = $('#session-name');
        var val = txt.val();
        if (val && val != "") {
            doApiCall('/geo/session', {
                name: val,
                appName: $('#session-app').val()
            });
        }
        return false;
    }

    function createApp() {
        var formData = new FormData();
        console.log($('#uploadFile')[0].files[0])
        formData.append('file', $('#uploadFile')[0].files[0]);

        $("#files").append(
            $('<div class="list-group-item">\
                    <div class="progress progress-striped active">\
                        <div class="progress-bar progress-bar-info" style="width: 0%;"></div>\
                    </div>\
                </div>'));
        $("#fileUploadError").addClass("hide");

        $.ajax({
            url: '/geo/app',
            type: 'POST',
            xhr: function () {
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener('progress', function (evt) {
                        var percent = (evt.loaded / evt.total) * 100;
                        $("#files").find(".progress-bar").width(percent + "%");
                    }, false);
                }
                return xhr;
            },
            success: function (data) {
                $("#files").children().last().remove();
                $("#uploadFile").closest("form").trigger("reset");
            },
            error: function () {
                $("#fileUploadError").removeClass("hide").text("An error occured!");
                $("#files").children().last().remove();
                $("#uploadFile").closest("form").trigger("reset");
            },
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }, 'json');
    }

    function doApiCall(path, _data) {
        var res = $('#dvDemoResults');
        $.ajax({
            type: "POST",
            url: path,
            dateType: 'json',
            data: _data,
            success: function (data, textStatus, jqXHR) {
                res.html(JSON.stringify(data, null, 4));
                window.location = '/geo/actions?sid=' + data;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                res.html(textStatus + ":" + errorThrown);
            },
            complete: function () {
                res.show()
            }
        });
    }
</script>
<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Geo Testing Tool</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/docs">API Documentation</a></li>
                    <li><a href="#link">About   </a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ul class="nav nav-tabs">
        <li><a href="/geo">Sessions</a></li>
        <li class="active"><a href="/geo/apps">Apps</a></li>
    </ul>
    <div class="container-fluid">
        <br/>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myApp">New App</button>
        <!-- Modal -->
        <div class="modal fade" id="myApp" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">New App</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="uploadFile" class="control-label">Choose apk or ipa file:</label>
                                <input type="file" accept=".apk, .ipa" id="uploadFile" />
                            </div>
                        </form>
                        <p id="fileUploadError" class="text-danger hide"></p>
                        <div class="list-group" id="files"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="return createApp();">Start</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Package</th>
                                <th>Platform</th>
                                <th>Status</th>
                                <th>Created At</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% apps.forEach(function(app) { %>
                                <tr>
                                    <td>
                                        <a href="/geo/apps?id=<%=app._id%>">
                                            <%=app.name%>
                                        </a>
                                    </td>
                                    <td>
                                        <%= app.package %>
                                    </td>
                                     <td>
                                        <%= app.platform %>
                                    </td>
                                    <td>
                                        <%= app.status %>
                                    </td>
                                    <td>
                                        <%= app.createdAt %>
                                    </td>
                                    <td>
                                        <button onclick="return deleteSession('<%=app._id%>')">New Session</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>