<ul class="nav nav-tabs">
    <li><a href="/geo">Sessions</a></li>
    <li><a href="/geo/app.html">Apps</a></li>
    <li class="active"><a href="/farms">Farms</a></li>
</ul>
<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>UID</th>
                            <th>IP</th>
                            <th>Status</th>
                            <th>Registered At</th>
                            <th>...</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% farms.forEach(function(farm) { %>
                            <tr>
                                <td><a href="/farms/device/index.html?uid=<%=farm.uid%>"><%=farm.uid%></a></td>
                                <td><%=farm.ip%></td>
                                <td><span class="label label-<%=(farm.isOnline ? 'success' : 'danger')%>"><%=(farm.isOnline ? 'Online' : 'Offline')%></span></td>
                                <td><%=farm.registered_at%></td>
                                <td></td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>